#videoPreview {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

#videoPreview .labelContainer {
    display: flex;
    flex-direction: column;
}

#videoPreview select {
    border: 0px;
    padding: .2em .5em;
    margin: 1em;
    font-size: 1.1em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    color: #1d3062;
    outline: none;
    text-align: center;
}

#videoPreview #reviewButton {
    padding: .5em 2em;
    border: none;
    border-radius: .5em;
    background: rgba(75, 40, 109);
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
    cursor: pointer;
}

#videoButtonsContainer {
    display: flex;
    gap: 2em;
    margin: 1em;
}

#videoButtonContainer button {
    margin: 2em;
}