#videoPreview {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

#videoButtonsContainer {
    display: flex;
    gap: 2em;
    margin: 1em;
}

#videoButtonContainer button {
    margin: 2em;
}